.v-select {
	&.dropdown {
		.dropdown-toggle {
			::after {
				content: normal;
			}
			padding: 0 0 8px;
			background: #fff;
		}
		.form-control {
		   	height: inherit;
		}
	}
}

.v-select.dropdown .dropdown-toggle::after { display: none; }

// NOTE: this requires that bootstrap has been included already
.books-table .vuetable {
	thead {
		@extend .bg-dark;
		@extend .text-white;
	}
}
