<style lang="scss">
</style>

<template>
    <div class="books-table">
        <div class="row">
            <export-bar :filters="bookFilters" class="col-12 col-md-6"></export-bar>
            <search-bar class="col-12 col-md-6"></search-bar>
        </div>
        <vuetable
            ref="vuetable"
            api-url="/api/books"
            :append-params="bookFilters"
            data-path="data"
            :fields="fields"
            :query-params="queryParams"
            pagination-path=""
            :css="css.table"
        ></vuetable>
    </div>
</template>

<script>
import Vue from 'vue';
import VueEvents from 'vue-events';
import Vuetable from 'vuetable-2/src/components/Vuetable';
import ExportBar from './ExportBar.vue';
import SearchBar from './SearchBar.vue';
import BookActions from './BookActions.vue';

Vue.use(VueEvents);

Vue.component('export-bar', ExportBar);
Vue.component('search-bar', SearchBar);
Vue.component('book-actions', BookActions);

export default {
    components: {
        Vuetable,
    },

    data() {
        return {
            fields: [
                {
                    name: 'title',
                    titleClass: 'text-center',
                    dataClass: 'text-center',
                    sortField: 'title',
                },
                {
                    name: 'author',
                    titleClass: 'text-left',
                    dataClass: 'text-left',
                    sortField: 'authors|name', // doesn't work (?)
                },
                {
                    name: '__component:book-actions',
                    title: 'Actions',
                    titleClass: 'text-center',
                    dataClass: 'text-center'
                },
            ],
            css: {
                table: {
                    tableClass: 'table table-hover table-responsive-md',
                    ascendingIcon: 'oi oi-sort-ascending',
                    descendingIcon: 'oi oi-sort-descending',
                }
            },
            bookFilters: {},
        };
    },

    methods: {
        /**
         * Build l5-repository-compatible query string parameters.
         */
        queryParams(sort, currentPage, perPage) {
            let orderBy = null,
                sortedBy = null;

            if (sort && sort.length > 0) {
                orderBy = sort[0].field;
                sortedBy = sort[0].direction;

                // this is hackish but it works
                // TODO: find proper way to handle sortField
                if (orderBy == 'author') {
                    orderBy = 'authors|name';
                }
            }

            return {
                orderBy,
                sortedBy,
                pageNo: currentPage,
                pageSize: perPage
            };
        }
    },

    events: {
        search(text) {
            const title = 'title:' + text;
            const author = 'author.name:' + text;

            this.bookFilters = {
                search: title + ';' + author
            };

            Vue.nextTick( () => this.$refs.vuetable.refresh() );
        },

        'reset-filters'() {
            this.bookFilters = {};
            Vue.nextTick( () => this.$refs.vuetable.refresh() );
        },

        'delete-book'(book) {
            const url = '/books/' + book.id;
            const data = { '_method': 'DELETE' };

            axios.post(url, data)
                .then(resp => {
                    Vue.nextTick( () => this.$refs.vuetable.refresh() );
                }, err => {
                    console.error('delete-book:', err);
                    window.alert('There was an error deleting the book');
                }).finally(() => {
                    $('#destroyBookModal').modal('hide');
                });
        },

        'refresh-books'() {
            Vue.nextTick( () => this.$refs.vuetable.refresh() );
        },
    },
};
</script>

