<style lang="scss">
</style>

<template>
    <div class="book-actions">
        <a
            :href="bookUrl"
            class="btn btn-sm"
            data-toggle="tooltip"
            title="Show book"
        >
            <span class="oi oi-eye"></span>
        </a>
        <a
            :href="editBookUrl"
            class="btn btn-sm"
            data-toggle="tooltip"
            title="Edit book"
        >
            <span class="oi oi-pencil"></span>
        </a>
        <button
            class="btn btn-sm btn-danger text-white"
            @click="deleteBook"
            type="button"
        >
            <span class="oi oi-trash"></span>
        </button>
    </div>
</template>

<script>
export default {
    props: {
        rowData: { type: Object, required: true },
        rowIndex: { type: Number }
    },

    methods: {
        deleteBook() {
            this.$events.fire('confirm-delete-book', this.rowData);
        },
    },

    computed: {
        bookUrl() {
            return '/books/' + this.rowData.id;
        },
        editBookUrl() {
            return '/books/' + this.rowData.id + '/edit';
        },
    },

    mounted() {
        $('[data-toggle=tooltip]').tooltip();
    },
};
</script>

