<style lang="scss">
@media (max-width: 575.98px) {
    .export-bar {
        margin-bottom: 1rem;
    }
}
</style>

<template>
    <div class="export-bar">
        <div class="row">
            <div class="col-6">
                <div class="btn-group btn-group-toggle">
                    <label :class="{ 'btn btn-secondary': true, active: title }">
                        <input type="checkbox" v-model="title" :checked="title">
                        Title
                        <span class="oi oi-check" v-if="title"></span>
                        <span class="oi oi-x" v-else></span>
                    </label>
                    <label :class="{ 'btn btn-secondary': true, active: author }">
                        <input type="checkbox" v-model="author" :checked="author">
                        Author
                        <span class="oi oi-check" v-if="author"></span>
                        <span class="oi oi-x" v-else></span>
                    </label>
                </div>
            </div>
            <div class="col-5 order-first order-md-last">
                <div class="dropdown show">
                    <a
                        class="btn btn-primary dropdown-toggle"
                        href="#"
                        role="button"
                        id="exportBooksLinks"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                    >
                        <span class="oi oi-data-transfer-download"></span>
                        Export
                    </a>

                    <div class="dropdown-menu" aria-labelledby="exportBooksLinks">
                        <a download class="dropdown-item" :href="exportCsv">CSV</a>
                        <a download class="dropdown-item" :href="exportXml">XML</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        filters: { type: Object, required: false },
    },

    data() {
        return {
            title: true,
            author: true
        };
    },

    computed: {
        fields() {
            return 'title='
                + (this.title ? 1 : 0)
                + '&author='
                + (this.author ? 1 : 0);
        },

        exportCsv() {
            return '/api/books/export.csv?'
                + this.fields
                + ( this.filters.search ? ('&search=' + this.filters.search) : '');
        },

        exportXml() {
            return '/api/books/export.xml?'
                + this.fields
                + ( this.filters.search ? ('&search=' + this.filters.search) : '');
        },
    },
};
</script>

