<style lang="scss">
</style>

<template>
    <div class="new-book">
        <form method="POST" action="/api/books" @submit.prevent="send">
            <legend>Add a Book</legend>
            <div class="form-row">
                <div class="col">
                    <label class="sr-only" for="title">Title:</label>
                    <input
                        placeholder="Title"
                        class="form-control"
                        v-model="book.title"
                    >
                </div>

                <div class="col">
                    <label class="sr-only" for="author">Author:</label>
                    <vue-select
                        placeholder="Author"
                        v-model="book.author"
                        :options="authors"
                        @option:created='createAuthor'
                        taggable
                    >
                    </vue-select>
                </div>

                <div class="col">
                    <button
                        class="btn btn-primary"
                        :disabled="!book.title || !book.author"
                    >
                        Add
                    </button>
                </div>
            </div>

            <div
                class="form-row alert alert-danger alert-dismissible m-1"
                v-show="showError"
                v-if="error"
            >
                {{ error }}
                <button
                    type="button"
                    class="close"
                    aria-label="Close"
                    @click="showError = false"
                >
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </form>
    </div>
</template>

<script>
import VueSelect from 'vue-select';


export default {
    components: {
        VueSelect,
    },

    props: {
        authors: { type: Array, required: true },
    },

    data() {
        return {
            book: {
                title: null,
                author: null,
            },
            error: null,
            showError: false,
        };
    },

    methods: {
        send() {
            this.error = null;
            this.showError = false;

            axios.post('/api/books', this.book)
                .then(resp => {
                    this.book.title = null;
                    this.book.author = null;
                    this.$events.emit('refresh-books');
                })
                .catch(err => {
                    console.error('send:', err);
                    if (err.response) {
                        this.error = err.response.data.error;

                        if (err.response.data.message) {
                            this.error = err.response.data.message;
                        }

                        this.showError = true;
                    }
                });
        },

        /**
         * Method triggered by vue-select's option:created event.
         *
         * We may use this to create authors asynchronously,
         * though we don't yet need it since /api/books creates it by default.
         */
        createAuthor(name) {
            console.debug('createAuthor: name =>', name);
        },
    },
};
</script>

