<style lang="scss">
</style>

<template>
    <div class="search-bar">
        <form class="form-inline justify-content-end mb-3" @submit.prevent="search">
            <div class="form-group">
                <label class="sr-only" for="searchInput">Search</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <span class="oi oi-magnifying-glass"></span>
                        </div>
                    </div>
                    <input
                        placeholder="Title or Author"
                        class="form-control"
                        v-model="filterText"
                    >
                </div>
            </div>
            <div class="form-group ml-3">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
            <div class="form-group ml-3">
                <button
                    type="button"
                    @click="reset"
                    class="btn btn-secondary"
                >
                    Reset
                </button>
            </div>
        </form>
    </div>
</template>

<script>
export default {
    data() {
        return {
            filterText: '',
        };
    },

    methods: {
        search(ev) {
            this.$events.fire('search', this.filterText);
        },

        reset() {
            this.filterText = '';
            this.$events.fire('reset-filters');
        },
    }
};
</script>

